.App {
  font-family: sans-serif;
  text-align: center;
}

.person-container {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
}

.person-container:not(:last-child) {
  margin-bottom: 20px;
}

.person-container > h2 {
  text-transform: uppercase;
}

.person-container > .person-container__info {
  border-top: 1px solid #cccccc;
}

.person-container > .person-container__info > p {
  opacity: 0.8;
}

.person-container > .person-container__info > p:first-child {
  font-style: italic;
}
